// 間距
$space-s: 1rem;
$space-m: 2rem;

$space-x-auto: 0 auto;
$space-x-s: 0 1rem;
$space-x-m: 0 2rem;
$space-x-l: 0 3rem;

$space-y-s: 1rem 0;
$space-y-m: 2rem 0;

// 標題 上大 左右0 下小
$space-title-s: 1rem 0 0.5rem;