.checkout {
  display: flex;
  width: 1312px;
  padding: 24px;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.checkout .cart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.checkout .cart-title .title-l {
  color: var(--black, #23222A);
  /* noto 24 */
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
  letter-spacing: 4.8px;
}
.checkout .cart-title .title-l span {
  font-family: Allerta;
}
.checkout .cart-title .title-r {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 12px;
}
.checkout .cart-title .title-r p {
  color: var(--Neutral-medium-gray-2, #4A4D50);
  /* noto 16 10% */
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.checkout .cart-title .title-r .price {
  color: var(--black, #23222A);
  /* Allerta 24 */
  font-family: Allerta;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
}
.checkout .cart-list {
  width: 100%;
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  align-items: flex-start;
}
.checkout .cart-list .cart-buyItem {
  width: 100%;
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  justify-content: space-between;
}
.checkout .cart-list .cart-buyItem .pic-s {
  width: 120px;
  border-radius: 8px;
}
.checkout .cart-list .cart-buyItem .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  gap: 0.5rem;
}
.checkout .cart-list .cart-buyItem .info .title {
  overflow: hidden;
  color: var(--black, #23222A);
  text-overflow: ellipsis;
  /* noto 10% */
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
  letter-spacing: 1.4px;
}
.checkout .cart-list .cart-buyItem .info .else {
  color: var(--Neutral-medium-gray-2, #4A4D50);
  /* noto 10% */
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
  letter-spacing: 1.4px;
}
.checkout .cart-list .cart-buyItem .info .item-number {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkout .cart-list .cart-buyItem .info .item-number > button {
  all: unset;
  cursor: pointer;
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.checkout .cart-list .cart-buyItem .info .item-number .number-area {
  display: flex;
  width: 120px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 24px;
  border: 1.5px solid var(--Neutral-medium-gray-2, #4A4D50);
}
.checkout .cart-list .cart-buyItem p {
  color: var(--black, #23222A);
  /* Allerta 24 */
  font-family: Allerta;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
}/*# sourceMappingURL=Checkout.css.map */