.homemade-apple-regular {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.home {
  display: flex;
  max-width: 1280px;
  margin: 48px auto;
  flex-direction: column;
  gap: 48px;
}
.home h1 {
  font-family: "Special Elite", system-ui;
  font-size: 40px;
}
.home .pick-head {
  padding: 16px 16px 0px;
  border-radius: 8px 8px 0px 0px;
  border: 2px solid var(--Neutral-medium-gray-2, #6F7275);
  background: var(--pink-bg, #ECD0DF);
}
.home .world-head {
  padding: 16px 16px 0px;
  border-radius: 8px;
  background: #92B9C5;
}
.home a {
  font-family: "Special Elite", system-ui;
}
.home .btn-seemore {
  font-size: 24px;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-size: cover;
}
.banner-container img {
  object-fit: contain;
  width: 80%;
  max-width: 100%;
}

.pick div,
.world div {
  display: flex;
}
.pick div .title,
.world div .title {
  flex: 1;
}
.pick div .timesale,
.world div .timesale {
  flex: 1;
  color: #933043;
}

.content {
  display: flex;
  padding: 24px 48px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 0px 0px 12px 12px;
  border-right: 2px solid var(--Neutral-medium-gray-2, #6F7275);
  border-bottom: 2px solid var(--Neutral-medium-gray-2, #6F7275);
  border-left: 2px solid var(--Neutral-medium-gray-2, #6F7275);
  background: linear-gradient(0deg, #E8E8E8 0%, #E8E8E8 100%), url(<path-to-image>) lightgray 0% 0%/100px 100px repeat;
  background-blend-mode: normal, difference;
}
.content .cardlist {
  display: grid;
  width: 100%;
  row-gap: 20px;
  column-gap: 20px;
  align-self: stretch;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.content .cardlist img {
  width: 100%;
  object-fit: cover;
}

.world .content {
  border: none;
}

.btn-container {
  display: flex;
  padding: 12px 0px;
}
.btn-container .btn-seemore {
  display: flex;
  padding: 8px 48px;
  border-radius: 99px;
  border: 2px solid var(--Neutral-dark-gray, #2E2F30);
}/*# sourceMappingURL=Home.css.map */