.homemade-apple-regular {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Japan */
#jp {
  align-items: flex-start;
  display: flex;
  max-width: 1440px;
  padding: 0px auto;
  margin: 48px auto;
  gap: 48px;
  justify-content: center;
}
@media (max-width:640px) {
  #jp {
    width: 90%;
    margin: 16px auto;
  }
}
#jp span {
  /* noto 10 10% */
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 15px */
  letter-spacing: 1px;
}
#jp li {
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}

#filter {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  gap: 24px;
}
@media (max-width:640px) {
  #filter {
    display: none;
  }
}
#filter .filter2 li.active {
  font-weight: bold;
  color: #d23e3e;
  cursor: default;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.title h1 {
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.title #itemList-number {
  color: var(--Neutral-medium-gray-2, #6F7275);
  /* noto 16 10% */
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}

#products {
  display: flex;
  width: 1022px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex-shrink: 0;
}
@media (max-width:640px) {
  #products {
    width: 100%;
    gap: 2rem;
  }
}
#products .title .title-row1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
#products .title .title-row1 div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#products .title .title-row2 {
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
  padding: 0px 8px;
  gap: 8px;
}
#products .scroll-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
#products .cardlist {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  align-self: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}
@media (max-width:640px) {
  #products .cardlist {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 0;
    width: 90%;
  }
}
#products .cardlist img {
  object-fit: cover;
}/*# sourceMappingURL=Japan.css.map */