//父容器
.cart-drawer {
    z-index: 99;
    right: 0;
    position: fixed;
    display: block;
}

// overlay background
// .cart-drawer-overlay {
//     position: fixed;
//     inset: 0;
//     z-index: 99;
//     display: flex;
//     justify-content: flex-end;
// }

.cart-drawer {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.cart-drawer.open {
  transform: translateX(0%);
}

// 視窗本人
.cart-drawer-panel {
    z-index: 100; /* panel 層級高於 overlay */
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    position: relative;

    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    border-radius: 8px;
    border: 1px solid $color-black;
    background: var(--bg, #E8E8E8);

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        border: none;
        padding: 0;

        .total {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
        }

        .buyItemCard {
            display: flex;
            padding: 24px 0px;
            align-items: center;
            gap: 48px;

            div {
                display: flex;
                // flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 16px;

                .col {
                    img {
                        width: 56px;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    p{
                        color: var(--black, #23222A);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                        /* 25.6px */
                        letter-spacing: 0.256px;

                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        p {
                            color: var(--Neutral-medium-gray-2, #4A4D50);
                            font-size: 12px;
                        }

                    }

                    
                }

            }


        }
    }


}

.showProgress-stoke {
    position: relative;
    height: 16px;
    align-self: stretch;
    border-radius: 48px;
    border: 1px solid var(--black, #23222A);
    background: var(--bg, #E8E8E8);
    overflow: hidden;

    .showProgress-solid {
        width: 60%;
        height: 14px;
        position: absolute;
        top: 1px;
        border-radius: 48px 0px 0px 48px;
        background: var(--pink, #FFB8C6);
    }
}