@use "../variable/" as *;

//父容器
.cart-drawer {
    z-index: 99;
    right: 0;
    position: fixed;
    display: block;
}

.cart-drawer {
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.cart-drawer.open {
    transform: translateX(0%);
}

// 視窗本人
.cart-drawer-panel {
    z-index: 100;
    /* panel 層級高於 overlay */
    width: 400px;
    height: 100%;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    position: relative;

    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    border-radius: 8px;
    border: 1px solid $color-black;
    background: var(--bg, #E8E8E8);

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        border: none;
        padding: 0;

        .total {
            font-family: Allerta;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
        }



        .buyItemCard {
            width: 100%;
            display: flex;
            padding: 24px 0px;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .left-col {
                // width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;

                .col {
                    img {
                        width: 56px;
                        background-color: transparent;
                    }

                    img:hover {
                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    // align-items: flex-start;
                    gap: 0.5rem;

                    p {
                        margin: 0;
                        color: var(--black, #23222A);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                        /* 25.6px */
                        letter-spacing: 0.256px;

                    }

                    .title:hover {
                        color: #F06086;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        p {
                            color: var(--Neutral-medium-gray-2, #4A4D50);
                            font-size: 12px;
                        }

                    }


                }

            }

            .right-col {
                // width: 100%;
                display: flex;
                align-items: center;
                gap: 1.5rem;

                .item-price {
                    text-align: right;
                    width: 80px;
                    font-family: Allerta;
                    font-size: 1rem;
                }
                button {
                    display: flex;
                    justify-content: flex-end;
                }
            }


        }

    }



    .checkout-btn-area {
        width: 100%;

        button {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            width: 100%;
            border-radius: 99px;
            padding: 0.5rem 0;
            color: #E8E8E8;
            background-color: #23222A;
        }
    }
}




.showProgress-stoke {
    position: relative;
    height: 16px;
    align-self: stretch;
    border-radius: 48px;
    border: 1px solid var(--black, #23222A);
    background: var(--bg, #E8E8E8);
    overflow: hidden;

    .showProgress-solid {
        width: 60%;
        height: 14px;
        position: absolute;
        top: 1px;
        border-radius: 48px 0px 0px 48px;
        background: var(--pink, #FFB8C6);
    }
}