@use "../variable/" as *;

/* Footer */
footer {
    // position: relative;
    padding: 48px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    // background-color: rgb(124, 145, 175);
    bottom: 0px;
    width: 100%;
    display: flex;
    // padding: 16px 48px;

    @media ($media-640) {
        background-color: transparent;
        width: 100%;
        padding: 1.5rem;
        gap: 1rem;
    }

    a {
        cursor: pointer;
    }

    h5,
    p,
    div,
    span,
    address,
    a {
        color: $color-black;
        font-family: "Noto Serif TC";
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 1.6px;

        @media ($media-640) {
            color: $color-black;
        }
    }

    .footer-row1 {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        // padding: 12px 60px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        margin: 16px 0;

        border-bottom: 1px solid var(--bg, #E8E8E8);

        h5 {
            width: 80%;
            margin: 0 auto;
        }

        @media ($media-640) {
            // display: none;
        }

        .follow-us {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .footer-icon-container {
                display: flex;
                align-items: center;
                gap: 12px;
                flex-shrink: 0;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 48px;
                    height: 48px;

                    img {
                        width: 24px;
                        height: 24px;
                    }

                }


            }
        }

        .contact-us {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;

                img {
                    width: 24px;
                    height: 24px;
                }

            }
        }

    }

    .copyright {
        font-size: 12px;
        font-weight: 400;
        line-height: 160%;
        margin-top: 2rem;
        margin-bottom: 6rem;

        @media ($media-640) {
            text-align: center;
            width: 100%;
            margin-bottom: 5rem;
        }
    }

    .terms {
        display: flex;
        gap: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
    }
}