@use "../variable/" as *;

/* Footer */
#footer {
    // display: flex;
    // width: 1440px;
    // padding: 48px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: $color-black;
    // position: sticky;
    bottom: 0px;
    width: 100%;
    display: flex;
    padding: 16px 48px;
}