@use "variable" as *;

/* ProductPage */
#product-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    // 標題區
    .ProductPage-title {
        display: flex;
        padding: 0px 104px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        div {
            display: inline-flex;
        }

        .countdown {
            display: flex;
            padding: 0px 8px;
            align-items: center;
            gap: 8px;
        }

        p,
        span {
            color: $color-black;

            /* noto 16 10% */
            font-family: "Noto Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;
        }

    }

    // 圖片內容區(row1 + pic-md-area)
    .ProductPage-item {
        display: flex;
        // width: 1441px;
        // height: 800px; //捲動範圍
        // overflow-y: auto;
        padding-right: 12px;
        /* 避免 scrollbar 壓住內Ｆ容 */
        padding: 0px 200px 48px 200px;
        flex-direction: column;
        align-items: flex-start;
        gap: 80px;

        .ProductPage-row1 {
            display: flex;
            align-items: flex-start;
            gap: 48px;
            align-self: stretch;

            // 主圖＆圖片頁籤
            .pic {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 48px;

                img {
                    object-fit: cover;
                    height: 662.836px;
                    align-self: stretch;
                    aspect-ratio: 553.00/662.84;
                }

                .pic-sm {
                    display: flex;
                    padding: 0px 8px;
                    align-items: center;
                    align-content: center;
                    gap: 16px;
                    align-self: stretch;
                    flex-wrap: wrap;
                    

                    img {
                        border-radius: 4px;
                        object-fit: cover;
                        width: 56px;
                        height: 64px;
                        aspect-ratio: 7/8;
                    }
                }
            }

            // 文字描述區
            .content {
                display: flex;
                width: 440px;
                padding: 32px 48px 48px 48px;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                border-radius: 8px;
                background: #f5f3f3;
                border: none;
                // z-index: 98;

                // 絕美漸層上衣
                h1 {
                    color: var(--black, #23222A);

                    /* noto10% */
                    font-family: "Noto Sans TC";
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 54px */
                    letter-spacing: 3.6px;
                }

                .price {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;

                    color: var(--black, #23222A);

                    /* Allerta32 */
                    font-family: Allerta;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 48px */
                }

                .content-description {
                    display: flex;
                    padding: 0px 12px;
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;

                    color: var(--Neutral-medium-gray-2, #4A4D50);

                    /* noto 10% */
                    font-family: "Noto Sans";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 21px */
                    letter-spacing: 1.4px;
                }

                // 選項區
                .item-options {
                    display: flex;
                    padding: 0px 12px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
                    align-self: stretch;

                    // 3組框
                    .option {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        align-self: stretch;

                        // 已選顏色/尺寸/數量
                        >p {
                            display: flex;
                            align-items: flex-start;
                            gap: 10px;
                            align-self: stretch;

                            color: var(--Neutral-medium-gray-2, #4A4D50);
                            /* noto 16 10% */
                            font-family: "Noto Sans";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            /* 24px */
                            letter-spacing: 1.6px;
                        }
                    }

                    .item-color,
                    .item-size {
                        display: flex;
                        align-items: flex-start;
                        gap: 8px;
                        align-self: stretch;
                    }

                    // 顏色選項區
                    .item-color {
                        display: flex;
                        align-items: flex-start;

                        img {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            object-fit: cover;
                            display: flex;
                            width: 56px;
                            height: 56px;
                            flex-direction: column;
                            align-items: flex-start;
                            flex-shrink: 0;
                            aspect-ratio: 1/1;

                            border-radius: 4px;
                            border: 1px solid var(--Neutral-medium-gray, #B5B9BE);
                            background: url(<path-to-image>) lightgray 50% / cover no-repeat;
                        }
                    }

                    // 尺寸選項區
                    .item-size>button {
                        display: flex;
                        width: 56px;
                        height: 56px;
                        padding: 10px 20px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;

                        border-radius: 4px;
                        border: 1px solid var(--Neutral-medium-gray-2, #4A4D50);

                        .active {
                            border-radius: 4px;
                            border: 1px solid var(--Neutral-medium-gray-2, #4A4D50);
                            background: var(--Neutral-medium-gray, #B5B9BE);
                        }
                    }

                    // 件數
                    .item-number {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        // - +
                        >button {
                            all: unset;
                            cursor: pointer;
                            display: flex;
                            width: 48px;
                            height: 48px;
                            justify-content: center;
                            align-items: center;
                            aspect-ratio: 1/1;
                        }

                        // 數字
                        .number-area {
                            display: flex;
                            width: 120px;
                            padding: 8px 12px;
                            justify-content: center;
                            align-items: center;

                            font-size: 20px;

                            border-radius: 24px;
                            border: 1.5px solid var(--Neutral-medium-gray-2, #4A4D50);
                        }
                    }

                }

                .add-to-cart-area {
                    display: flex;
                    padding: 24px 0px 12px 0px;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    align-self: stretch;

                    >button {
                        display: flex;
                        height: 56px;
                        padding: 16px 0px;
                        justify-content: center;
                        align-items: center;
                        align-self: stretch;

                        border-radius: 32px;
                        background: var(--black, #23222A);
                        color: $bg-color1;
                    }
                }
            }
        }

        .pic-md-area {
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            gap: 48px;
            align-self: stretch;
            flex-wrap: wrap;

            .pic-md {
                width: 378px;
                border-radius: 4px;

                img {
                    object-fit: cover;
                }
            }

            .text-area {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 22px;
                flex: 1 0 0;

                // 商品說明
                .title {
                    color: $color-black;

                    /* noto 16 10% */
                    font-family: "Noto Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 24px */
                    letter-spacing: 1.6px;
                }

                p {
                    color: $color-black;

                    /* noto 10% */
                    font-family: "Noto Sans";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 21px */
                    letter-spacing: 1.4px;
                }
            }
        }
    }

    // 您可能會喜歡
    .else {
        display: flex;
        padding: 48px 104px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        align-self: stretch;

        .you_may_also_like {
            color: $color-black;

            /* noto10% */
            font-family: "Noto Sans TC";
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 54px */
            letter-spacing: 3.6px;
        }

        .cardlist {
            display: flex;
            height: 452px;
            justify-content: center;
            align-items: center;
            gap: 24px;
            align-self: stretch;
            margin: 0 auto;
        }
    }


}