@use "./variable/" as *;

.home {
    display: flex;
    max-width: 1280px;
    margin: 48px auto;
    flex-direction: column;
    gap: 48px;

    h1 {
        font-family: $font-en-handwrite;
        font-size: 40px;
    }

    .pick-head {
        padding: 16px 16px 0px;
        border-radius: 8px 8px 0px 0px;
        border: 2px solid var(--Neutral-medium-gray-2, #6F7275);
        background: var(--pink-bg, #ECD0DF);
    }

    .world-head {
        padding: 16px 16px 0px;
        border-radius: 8px;
        background: #92B9C5;
    }

    a {
        font-family: $font-en-handwrite;
    }

    .btn-seemore {
        font-size: 24px;
    }
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    // z-index: 99;
    // background: url(../assets/banner.gif) no-repeat center center;
    // background-image: url(../assets/bg.png);
    background-size: cover;

    img {
        object-fit: contain;
        width: 80%;
        max-width: 100%;
    }
}

.pick,
.world {
    div {
        display: flex;

        .title {
            flex: 1;
        }

        .timesale {
            flex: 1;
            color: #933043;
        }
    }
}

.content {
    display: flex;
    padding: 24px 48px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;

    border-radius: 0px 0px 12px 12px;
    border-right: 2px solid var(--Neutral-medium-gray-2, #6F7275);
    border-bottom: 2px solid var(--Neutral-medium-gray-2, #6F7275);
    border-left: 2px solid var(--Neutral-medium-gray-2, #6F7275);
    background: linear-gradient(0deg, #E8E8E8 0%, #E8E8E8 100%), url(<path-to-image>) lightgray 0% 0% / 100px 100px repeat;
    background-blend-mode: normal, difference;

    .cardlist {
        display: grid;
        // height: 452px;
        width: 100%;
        row-gap: 20px;
        column-gap: 20px;
        align-self: stretch;
        grid-template-rows: repeat(1, minmax(0, 1fr));
        grid-template-columns: repeat(4, minmax(0, 1fr));

        @media ($media-640) {
            grid-template-columns: repeat(2, minmax(0, 1fr));

        }

        img {
            width: 100%;
            object-fit: cover;
        }

    }
}

// world區不要邊框
.world {
    .content {
        border: none
    }
}

// 按鈕
.btn-container {
    display: flex;
    padding: 12px 0px;

    .btn-seemore {
        display: flex;
        padding: 8px 48px;

        border-radius: 99px;
        border: 2px solid var(--Neutral-dark-gray, #2E2F30);
    }
}