// src/scss/main.scss
@use "reset";
@use "variable" as *;
@use "product-page";
// @use "function" as *;

// @use "icon";
// @use "keyframe";

// 串google font：只允許編碼在它上面
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Allerta&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Homemade+Apple&family=Special+Elite&family=Homemade+Apple&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import './component/Announcement';
@import './component/Header';
@import './component/Footer.scss';
@import './Home';
@import './Japan.scss';
@import './component/Card';
@import './component/CartDrawer.scss';
@import './component/lazyLoadImg.scss';

* {
  color: $text-color1;

  font-family: "Lato", sans-serif;
  color: $text-color1;
  font-size: 1.2rem;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  color: $text-color1;
}

// /* 游標 */
// body {
//   // cursor: none;
// }

// .cursor {
//   position: fixed;
//   top: 0;
//   left: 0;
//   pointer-events: none;
//   z-index: 9999;
// }

// .cursor__ball {
//   position: absolute;
//   border-radius: 50%;
//   will-change: transform;
// }

// .cursor__ball--big {
//   width: 30px;
//   height: 30px;
//   background-color: rgb(124, 145, 175);
//   transition: transform 0.2s ease;
// }

// .cursor__ball--small {
//   width: 8px;
//   height: 8px;
//   background-color: transparent;
//   transition: transform 0.1s ease;
// }

/* 游標 */
body {
  cursor: none;
}

body .cursor {
  pointer-events: none;
  // color: $color-blue;
}
body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
body .cursor__ball circle {
  fill: $color-blue;
}

.cursor__ball--big {
  pointer-events: none;
  /* 其他樣式 */
}

// a {
//   color: $color-black;
//   transition: color 0.3s ease;
// }

// a.hovered {
//   color: $bg-color1 !important;
// }


// 讓footer 貼底
html,
body {
  height: 100%;
}

.page-wrapper {
  min-height: 100vh; // 頁面最少撐滿一個畫面
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; // 讓 main 撐滿剩下空間，footer 貼底
}