// src/scss/main.scss
@use "reset";
@use "variable" as *;
// @use "function" as *;

// @use "icon";
// @use "keyframe";

// 串google font：只允許編碼在它上面
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=Homemade+Apple&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import './component/Announcement';
@import './component/Header';
@import './Home';


body {
  font-family: "Lato", sans-serif;
  background-color: $bg-color1;
  color: $text-color1;
  font-size: 1.2rem;
  line-height: 1.5;
}

* {
  color: $text-color1;
}

h1 {
  font-size: 2rem;
  color: $text-color1;
}


